 <div class="container">
    <button class="btn btn-outline-primary"
            *ngFor="let kategorija of kategorije"
            (click)="Filter(kategorija)"> {{ kategorija }} </button>

            <p>Ukupna vrijednost: {{ ukupno | currency: '' : '' }} KM </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Detalji transakcije</th>
                <th>Kategorija transakcije</th>
                <th>Iznos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transakcija of transakcijeZaDispley">
                <td> {{ transakcija.datum | date: 'dd.MM.yyyy HH:mm' }}</td>
                <td> {{ transakcija.detaljiTransakcije }}</td>
                <td> {{ transakcija.kategorija }}</td>
                <td> {{ transakcija.iznos | currency: ' ': ' ' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" align="right">Ukupno</td>
                <td> {{ ukupno | currency: '' : '' }} KM </td>
            </tr>
        </tfoot>
    </table>

    <button mat-raised-button color="primary" (click)="novaTransakcija()">Nova transakcija</button>
</div>
